name: Cypress Tests

on:
  push:
    branches: [ main ]
  pull_request:

concurrency:
  group: cypress-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cypress-tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2]   # 2 parallel machines

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Start API
        run: npm start &
      
      - name: Wait for API
        run: npx wait-on http://localhost:4000/api/items || sleep 5

      - name: Cypress run (parallel)
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
        run: |
          npx cypress run \
            --record \
            --parallel \
            --key $CYPRESS_RECORD_KEY \
            --ci-build-id ${{ github.run_id }} \
            --group "GitHub Actions - Container ${{ matrix.containers }}"

