stages:
  - test

cypress_e2e:
  stage: test
  image:
    name: cypress/included:15.7.0   # Cypress + Node + browsers + Xvfb
    entrypoint: [""]                 # IMPORTANT: disable default 'cypress run' entrypoint
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
  before_script:
    - npm ci
  script:
    # This runs:
    # 1) npm start (inside start-server-and-test)
    # 2) waits for http://localhost:3000
    # 3) runs cypress run
    - npm test
  artifacts:
    when: always
    paths:
      - cypress/videos
      - cypress/screenshots
    expire_in: 1 week
  only:
    - main
